# Ignore environment files
.env

# Ignore Python cache
__pycache__/
*.pyc
*.pyo
*.pyd

# Ignore virtual environment folders
venv/
env/

# Ignore logs
*.log

# Ignore OS-specific files
.DS_Store
Thumbs.db